* {
    margin: 0;
    padding: 0;
}


.container {
    margin: 0 auto;
    width: 1280px;
    font-family: 'Montserrat', sans-serif;
}

.header-navigation ul {
    text-align: center;
    margin: 25.5px 0;
}

.header-navigation li {
    display: inline;
    margin: 0 36px;


}

.header-link {
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.7px;

}

.blok {}

.heading {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    text-align: center;
    margin: 49px 38px;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 38px 67.5px 0px 67.5px;
}

.content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
    margin: 28px 67.5px 66px 67.5px;

}

.like-button {
    padding: 19px 40px;
    background: #FF0000;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 544.5px 0 544.5px;
    align-items: center;
    letter-spacing: 1.8px;
    color: #FFFFFF;
    display: block;
    text-align: center;
}

.aside {
    height: 100px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
   
    letter-spacing: 2.4px;
    margin: 78px 0 0 713px;
}
